
body{
	padding: 0;
	margin: 0;
	/*background-color: #474D63;*/
	background-color: red;
	color: #E6E8F0;
}

.wrapper{

	margin: 0 auto;	
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 40px;
}

h1, .title{
	font-family: "STHeitiSC-Medium","STHeitiTC-Medium","Microsoft YaHei", "微软雅黑","sans-serif";
}

.shadow-title{
	font-size: 17px;
	color: #C4D2DB;
}

.shadow-p{
	font-size: 14px;
	color: #C4D2DB;
}

.title{
	font-size: 17px;
}

p{
	font-family: "STHeitiSC","Helvetica","Microsoft YaHei", "微软雅黑","sans-serif";
	font-size: 13px;
}

img{
	margin: 0 auto;
	display: block;
	max-width:100%;
}

hr{

	height: 1px;


}
.code{
	font-family: "COURIER"
}
